


body {
  background-color: black;
}

h1 { color: #F90B6D; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 30px 20px 16px; }
p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; line-height: 40px; margin: 10px 20px 16px; }

#input-field{
margin: 20px;
}